In [1]:
import pandas as pd
!pip install xlrd
df=pd.read_excel('LoanTrain.xlsx')
df.head()

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 7.9MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [2]:
df.drop(['Loan_ID'],axis=1,inplace=True)

df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

df['Gender'].replace(to_replace=['Male','Female'],value=[0,1],inplace=True)

df['Married'].fillna(df['Married'].mode()[0],inplace=True)

df['Married'].replace(to_replace=['No','Yes'],value=[0,1],inplace=True)

df['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)

df['Dependents'].replace(to_replace=['3+'],value=[3],inplace=True)

df['Education'].replace(to_replace=['Graduate','Not Graduate'],value=[1,0],inplace=True)

df['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)

df['Self_Employed'].replace(to_replace=['Yes','No'],value=[1,0],inplace=True)

In [3]:
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0],inplace=True)

df['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)

df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)

df['Property_Area'].replace(to_replace=['Rural','Semiurban','Urban'],value=[0,1,2],inplace=True)

In [5]:
import numpy as np

In [6]:
X=df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']].values

In [7]:
X

array([[  0.,   0.,   0., ..., 360.,   1.,   2.],
       [  0.,   1.,   1., ..., 360.,   1.,   0.],
       [  0.,   1.,   0., ..., 360.,   1.,   2.],
       ...,
       [  0.,   1.,   1., ..., 360.,   1.,   2.],
       [  0.,   1.,   2., ..., 360.,   1.,   2.],
       [  1.,   0.,   0., ..., 360.,   0.,   1.]])

In [8]:
y=df['Loan_Status'].values

In [9]:
from sklearn import preprocessing

X=preprocessing.StandardScaler().fit(X).transform(X)

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=4)

In [17]:
from sklearn import svm

clf=svm.SVC(kernel='rbf')

clf.fit(X_train,y_train)

pred=clf.predict(X_test)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [13]:
pred

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y'], dtype=object)

In [18]:
from sklearn import metrics
metrics.accuracy_score(y_test,pred)

0.8

In [19]:
test_df=pd.read_excel('LoanTest.xlsx')
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [20]:
test_df.drop(['Loan_ID'],axis=1,inplace=True)

test_df['Gender'].replace(to_replace=['Male','Female'],value=[0,1],inplace=True)

test_df['Gender'].fillna(test_df['Gender'].mode()[0],inplace=True)

test_df['Married'].replace(to_replace=['No','Yes'],value=[0,1],inplace=True)

test_df['Married'].fillna(test_df['Married'].mode()[0],inplace=True)

test_df['Dependents'].replace(to_replace=['3+'],value=[3],inplace=True)

test_df['Dependents'].fillna(test_df['Dependents'].mode()[0],inplace=True)

test_df['Education'].replace(to_replace=['Graduate','Not Graduate'],value=[1,0],inplace=True)

test_df['Self_Employed'].replace(to_replace=['Yes','No'],value=[1,0],inplace=True)

test_df['Self_Employed'].fillna(test_df['Self_Employed'].mode()[0],inplace=True)

test_df['Loan_Amount_Term'].fillna(test_df['Loan_Amount_Term'].mode()[0],inplace=True)

test_df['Credit_History'].fillna(test_df['Credit_History'].mode()[0],inplace=True)

test_df['LoanAmount'].fillna(test_df['LoanAmount'].mean(),inplace=True)

test_df['Property_Area'].replace(to_replace=['Rural','Semiurban','Urban'],value=[0,1,2],inplace=True)

In [21]:
X1=test_df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']].values

In [22]:
X1

array([[  0.,   1.,   0., ..., 360.,   1.,   2.],
       [  0.,   1.,   1., ..., 360.,   1.,   2.],
       [  0.,   1.,   2., ..., 360.,   1.,   2.],
       ...,
       [  0.,   0.,   0., ..., 360.,   1.,   1.],
       [  0.,   1.,   0., ..., 360.,   1.,   0.],
       [  0.,   0.,   0., ..., 180.,   1.,   0.]])

In [23]:
pred2=clf.predict(X1)

prediction_svm=pd.DataFrame(pred2)

prediction_svm.to_csv(r'NewSubmission_svm.csv', index=False)